.gem {
    max-width: 200px
}
body {
    background-image: url("/assets/images/jem.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #cccccc;
}
.jumbotron {
    background-color: transparent;
}
.btn {
    background-color: purple;
    border: none;
    
}
